@@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900italic);

html , body {
  box-sizing: border-box;
}

​*, *​:before, *:after {
 box-sizing: inherit;
}

body{
 margin: 0;
 padding: 0;
}

.top-home-main {
  background: url("../img/background.jpg")center bottom no-repeat;
  width: 100%;
  height: 375px;
  background-size: cover;
  position: relative;

}

.header {
  width: 95%;
  height: 55px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: static;
}

.header > img {
  margin-top: 25px;
  max-width: 160px;
  position: static;
  cursor: pointer;
}

.top-logo {
  margin-left: 25px;
  position: static;

}

.top-main-text {
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  font-family: Helvetica;

}
.top-main-text > p {
  font-size: 5vw;
  width: 45%;
  min-width: 120px;
  margin:auto;
}


.top-main-text > h3 > a {
  color: #C76935;
}
span {
  color:#BCD436;
}

.top-main-text > h1 {
  font-size: 17vw;
  width: 100%;
  min-width: 120px;
  margin:auto;

}

.top-button {
  color: #BCD436;
  font-size: 14px;
  letter-spacing: .2em;
  font-weight: bold;
  background: none;
  border: 2px solid #B2BA3B;
  border-radius: 25px;
  width:300px;
  height: 26px;
  margin:auto;
  bottom:0;
  padding-top: 12px;

}

.main-text {
  width: 100%;
  height:750px;
  background: #F0F0F0;
  margin: auto;
  margin-top: 15px;
}

.main-text > p {
  margin-left: 4%;
  color: #40666D;
  font: Helvetica;
  font-size: 26px;
  text-align: center;
  line-height: 190%;
  padding-top: 35px;
  font-weight: 100;

}

.main-text > p > a {
  font-weight: bold;
}

.pencil-wrench {
  margin-left:40%;
}

.heres-how {
  text-align: center;
  font-size: 55px;
  color: #40666D;
  margin-left: 20px;
  margin: auto;
}

.middle-logo-section {
  width: 85%;
  height: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.logo1{
  padding-top: 80px;
}
.logo2-info {
  text-align: center;
  font-size: 12px;
  font: Helvetica;
  font-weight: lighter;
  color: lightgray;
}

.logo2-info-learn {
  padding-top: 30px;
}

.logo3 {
  padding-top: 70px;
}

.logo4-info {
  font-size: 15px;
  color: #D4DBDE;
}
@media (min-width: 700px) {
  .top-home-main {
    display: ;
  }
}
